<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/">
      Name<input type="text" name="name">
      Breed<input type="text" name="breed">
      Age<input type="text" name="age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
