<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
   Puppy Name: <%= @puppy.name %>
   Puppy Breed: <%= @puppy.breed %>
   Puppy Age: <%= @puppy.age %>
  </body>
</html>
